.vscode/**
.vscode-test/**
test/**
src/**
test-workspace/**
**/*.map
.gitignore
.prettierrc.json
.eslintrc.json
tsconfig.json
webpack.config.js
node_modules/**/test/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/license
node_modules/**/.github/**
**/*.ts
!**/*.d.ts